
#funny {
    background-color: green;
    border: 2px solid grey;
    width: 49vw;
    height: 75vh;
    font-size: 50px;
    box-shadow: 0 9px #999;
    border-radius: 5px;
}

#funny:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#notFunny {
    background-color: red;
    display: inline;
    width: 49vw;
    height: 75vh;    
    font-size: 50px;
    box-shadow: 0 9px #999;
    border-radius: 5px;
}

#notFunny:active {
    background-color: #8B0000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#superFunny {
    width: 98.3vw;
    height: 20vh;
    margin-top: 15px;
    background-color: gold;
    font-size: 50px;
    box-shadow: 0 9px #999;
    border-radius: 5px;
}

#superFunny:active {
    background-color: darkgoldenrod;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media only screen and (max-width: 999px) {
    body {
        border: none;
        margin: none;
        padding: none;
    }
    #funny {
        font-size: 40px;
        width: 45%;
        height: 75vh;
    }
    #notFunny {
      font-size: 40px;
      width: 45%;
      height: 75vh;
    }
    #superFunny {
        width: 95%;
        height: 15vh;
    }
}
@media only screen and (max-width: 415px) {
    body {
        border: none;
        margin: none;
        padding: none;
    }
    #funny {
        font-size: 30px;
    }
    #notFunny {
      font-size: 30px;
    }
    #superFunny {
        font-size: 30px;
    }
}